.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightyellow;
    width: 100%;
    height: 91px;
    background: #9e869e;

}

.conteudo-header {
    padding: 0px;
    margin: 0px;
    border: 0px;
}


@media(min-width: 769px)  {

  
  }
  
  @media(min-width: 1000px) {
    
  }